.button {
  width: 100%;
  padding: 15px 0;
  margin: 15px 0;
  background-color: #303030;
  border: 1px solid #4e4c4b;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}

.active {
  background-color: #00bc8c;
  cursor: pointer;
}
